/* src/Layout.css */
.layout {
    display: flex;
    flex-direction: column; /* Stack Navbar, main content, and Footer */
    min-height: 100vh; /* Ensure the layout takes at least the full height of the viewport */
}

.content {
    flex: 1; /* Allow content to grow and take up available space */
    padding: 20px; /* Add padding around the content */
    background-color: #000; /* Set a background color to the content area */
    color: #fff; /* White text color for readability */
}
